@import "./App.scss";


.Gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    width: 97%;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
    border-radius: 10px;

    h1 {
        width: 100%;
        text-align: center;
        background-color: rgb(139, 197, 199);
        border: solid 1px rgb(54, 109, 110);
    }
    p{
        // background-color: aqua;
        padding: 10px;
    }

    .PhotoContainer {
        // background-color: aqua;
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        ul {
            // background-color: chocolate;
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            li {
                background-color: rgb(139, 197, 199);
                height: 200px;
                width: 200px;
                border: solid 1px rgb(54, 109, 110);
                border-radius: 50%;
                margin: 5px;
                
            }
        }
    }
}