@import './App.scss';

.Header {
    background-color: rgb(240, 227, 244);
    .HeaderTitle {
        width: 30%;
        // background-color: aqua;
        margin: 0 auto;
        text-align: center;
        min-width: fit-content;
        h3 {
            font-size: 8rem;
        }
    }
    ul {
        // background-color: brown;
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        min-width: fit-content;
        justify-content: space-between;

        li {
            background-color: rgb(100, 5, 194);
            border: solid 1px black;
            border-radius: 5px;
            padding: 3px 10px;
            h5 {
                color: rgb(247, 230, 247);
            }
        
        }
    }
}