@import './App.scss';


.Home {
    background-color: cadetblue;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
    border-radius: 10px;

    h1 {
        background-color: rgb(139, 197, 199);
        width: 100%;
        text-align: center;
        border: solid 1px rgb(54, 109, 110);
    }

    .Paragraphs {
        margin-top: 20px;
        p {
            margin: 10px 0;
        }
    }

}